<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-5" *ngIf="getOneDataFromApi">
      <div class="col-md-12 mb-5">
        <h2 class="text-primary">{{getOneDataFromApi.owner.firstName + ' ' + getOneDataFromApi.owner.lastName}} Post with id is {{getOneDataFromApi.id}}</h2>
        <hr>
      </div>
      <div class="card h-10 mb-5 shadow">
        <div class="card-header">
          <img src="{{getOneDataFromApi.owner.image}}" alt="" width="40px"
            class="rounded-circle mr-3"> 
            <a routerLink="/user/{{getOneDataFromApi.owner.id}}">{{getOneDataFromApi.owner.firstName + ' ' + getOneDataFromApi.owner.lastName}}</a>
        </div>
        <img class="card-img-top" src="{{getOneDataFromApi.image}}" alt="">
        <div class="card-body">
          <a routerLink="/tag/{{tags}}/post" *ngFor="let tags of getOneDataFromApi.tags">
            <span class="badge badge-primary mr-2" style="display: inline-block;"
              >
              {{tags}}
            </span>
          </a>
          <p class="card-text">{{getOneDataFromApi.message}}</p>
          <p class="card-text"><a routerLink="/post/{{getOneDataFromApi.id}}/comment">See Comment</a></p>
        </div>
        <div class="card-footer">
          a few seconds ago
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 mb-5">
      <div class="mb-5" id="suggestion">
        <div class="col-md-12 mb-5">
          <h2 class="text-primary">Suggestions For You</h2>
          <hr>
        </div>
        <div class="card h-10">
          <div class="overflow-auto card-body" style="height: 200px;">
            <div class="mb-1" *ngFor="let data of getDataFromApi">
              <div class="card-header">
                <img src="{{data.owner.image}}" alt="Ella Kristensen Dummyapi person" width="40px"
                  class="rounded-circle mr-3"> {{data.owner.firstName + ' ' + data.owner.lastName}} <a routerLink="#"
                  class="text-right">Follow</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tags">
        <div class="col-md-12 mb-5">
          <h2 class="text-primary">Popular Tags</h2>
          <hr>
        </div>
        <div class="col-md-12 mb-5">
          <div *ngFor="let data of getTagsFromApi">
            <span class="badge badge-primary mr-2 mb-2 p-2" style="float: left;">
              {{data}}
            </span>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->