

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <div class="col-md-12 mb-5">
        <h2 class="text-primary">Lastest Feed</h2>
        <hr>
      </div>
      <div class="card h-10 mb-5 shadow" *ngFor="let data of getDataFromApi">
        <div class="card-header">
          <img src="{{data.owner.image}}" alt="Ella Kristensen Dummyapi person" width="40px"
            class="rounded-circle mr-3"> <a routerLink="/user/{{data.id}}"> {{data.owner.firstName + ' ' + data.owner.lastName}} </a>
        </div>
        <a routerLink="/post/{{data.id}}"><img class="card-img-top" src="{{data.image}}" alt=""></a>
        <div class="card-body">
          <div >
            <a *ngFor="let tags of data.tags" routerLink="/tag/{{tags}}/post">
              <span class="badge badge-primary mr-2" style="display: inline-block;" >
              {{tags}}
              </span>
            </a>
          </div>
          <p class="card-text">{{data.message}}</p>
          <p class="card-text"><a routerLink="/post/{{data.id}}/comment">See Comment</a></p>
        </div>
        <div class="card-footer">
          a few seconds ago
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="mb-5" id="suggestion">
        <div class="col-md-12 mb-5">
          <h2 class="text-primary">Suggestions For You</h2>
          <hr>
        </div>
        <div class="card h-10">
          <div class="overflow-auto card-body" style="height: 200px;">
            <div class="mb-1" *ngFor="let data of getDataFromApi">
              <div class="card-header">
                <img src="{{data.owner.image}}" alt="Ella Kristensen Dummyapi person" width="40px"
                  class="rounded-circle mr-3"> {{data.owner.firstName + ' ' + data.owner.lastName}} <a routerLink="#"
                  class="text-right">Follow</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tags">
        <div class="col-md-12 mb-5">
          <h2 class="text-primary">Popular Tags</h2>
          <hr>
        </div>
        <div class="col-md-12 mb-5">
          <div *ngFor="let data of getTagsFromApi">
            <a routerLink="/tag/{{data}}/post"><span class="badge badge-primary mr-2 mb-2 p-2" style="float: left;">
              {{data}}
            </span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>About Us</h2>
      <hr>
      <p>Your Solution for your sistem!</p>
      <p>Comprised of young, energetic programmers, Codify is your one-stop solution for all your program, website, &
        mobile app development
      </p>
      <a class="btn btn-primary btn-lg" routerLink="#">Click for more info! &raquo;</a>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Start Bootstrap</strong>
        <br>3481 Melrose Place
        <br>Beverly Hills, CA 90210
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a routerLink="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->